version: "3.3"
services:
  httpd:
    container_name: apache
    image: httpd:2.4
    ports:
      - "80:80"
    volumes:
      - "./httpd.conf:/usr/local/apache2/conf/httpd.conf"
  orbeon:
    container_name: orbeon
    image: numishare:vu
    build: ./orbeon
    ports:
      - "10200:8080"
    environment:
      JAVA_OPTS: '-server -Djava.awt.headless=true -Xms1G -Xmx1G -XX:MaxPermSize=256m -XX:NewSize=896m -XX:MaxNewSize=896m -Dlog4j.configuration=/usr/local/tomcat/lib/log4j.properties -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled'
    volumes:
      - "./orbeon.xml:/usr/local/tomcat/conf/Catalina/localhost/orbeon.xml"
      - "../..:/usr/local/projects"
      - "..:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/apps/numishare"
      - "./exist-config.xml:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/apps/numishare/exist-config.xml"
      - "./tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml"
      - "./web.xml:/usr/local/tomcat/webapps/orbeon/WEB-INF/web.xml"
      - "./properties-local.xml:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/config/properties-local.xml"
      - "./admin.xhtml:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/apps/numishare/xforms/admin.xhtml"
  solr:
    container_name: solr
    image: solr:8.6.2
    ports:
      - "10202:8983"
    volumes:
      #- data:/var/solr
      - "../solr-home/1.6:/var/solr/data/numishare"
      - "./core.properties:/var/solr/data/numishare/core.properties"
      - ../../../data/docker-solr-data:/var/solr/data/numishare/data
    command:
      - solr-precreate
      - numishare
  exist:
    image: existdb/existdb:5.2.0
    container_name: exist
    ports:
      - 10204:8080
      - 10205:8443
    volumes:
      - "..:/usr/local/projects/numishare"
      - ../../../data/docker-exist-data:/exist/data
  iiif:
    image: lorisimageserver/loris
    container_name: numishare_iiif
    #build: ./loris
    volumes:
      - ../../../data/docker-loris-data/images:/opt/loris/tests/img
    ports:
      - "10206:5004"
  fuseki:
    image: stain/jena-fuseki
    container_name: fuseki
    volumes:
      - ../../../docker-fuseki-data:/fuseki
    ports:
      - "10208:3030"
volumes:
  data:
    driver: local
  config:
    driver: local
