version: "3.3"
services:
  httpd:
    container_name: apache
    image: httpd:2.4
    ports:
      - "80:80"
    volumes:
      - "./httpd.conf:/usr/local/apache2/conf/httpd.conf"
  orbeon:
    container_name: orbeon
    image: tiredofit/orbeon:latest
    ports:
      - "8081:8080"
    volumes:
      - "./orbeon.xml:/usr/local/tomcat/conf/Catalina/localhost/orbeon.xml"
      - "..:/usr/local/projects/numishare"
      - "..:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/apps/numishare"
      - "./exist-config.xml:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/apps/numishare/exist-config.xml"
      - "./tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml"
      - "./web.xml:/usr/local/tomcat/webapps/orbeon/WEB-INF/web.xml"
      - "./properties-local.xml:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/config/properties-local.xml"
      - "./admin.xhtml:/usr/local/tomcat/webapps/orbeon/WEB-INF/resources/apps/numishare/xforms/admin.xhtml"
  solr:
    container_name: solr
    image: solr:8.6.2
    ports:
      - "8983:8983"
    volumes:
      #- data:/var/solr
      - "../solr-home/1.6:/var/solr/data/numishare"
      - "./core.properties:/var/solr/data/numishare/core.properties"
      - ../../../data/docker-solr-data:/var/solr/data/numishare/data
    command:
      - solr-precreate
      - numishare
  exist:
    image: existdb/existdb:5.2.0
    container_name: exist
    ports:
      - 8080:8080
      - 8443:8443
    volumes:
      - "..:/usr/local/projects/numishare"
      - ../../../data/docker-exist-data:/exist/data
  iiif:
    image: lorisimageserver/loris
    container_name: numishare_iiif
    #build: ./loris
    volumes:
      - ../../../data/docker-loris-data/images:/opt/loris/tests/img
    ports:
      - "10206:5004"

volumes:
  data:
    driver: local
  config:
    driver: local
